.dashboard-body {
    position: relative;
    background-color: #D9D9D9;
    top: 7%;
    width: 100%;
    height: 100%;
    min-height: 120vh;
    margin-left: 80px;
}

.dashboard-body h1 {
    color: #475C6F;
    position: absolute;
    top: 1%;
    font-weight: bolder;
}

.dashboard-body h4 {
    margin-top: 80px;
}

.dashboard-container {
    position: absolute;
    top: 20%;
    padding: 10px;
    width: 98%;
}

.dashboard-container h1 {
    position: absolute;
    margin-top: -110px;
}

.dashboard-container h4 {
    margin-top: -110px;
}

.report-view svg {
    margin-top: -120px;
}


.banner1 {
    position: absolute;
    background-color: black;
    margin-top: 60px;
    margin-left: 20%;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.5);
}

.banner1 img {
    opacity: .7;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.banner1 strong {
    top: 10%;
    left: 90%;
    color: white;
    position: absolute;
}

.banner1 h1 {
    position: absolute;
    left: 2%;
    color: #BDDDFC;
}

.banner1 h5 {
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 2%;
    color: #BDDDFC;
}



.report-view {
    display: flex;
    position: absolute;
    top: 10%;
    width: 300px;
    height: 50px;
    align-content: center;
    align-items: center;
    gap: 10px;
    color: #475C6F;
}

.active-users {
    color: #475C6F;
    gap: 10px;
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: -10px;
    
}


.user-feedback {
    color: #475C6F;
    gap: 10px;
    display: flex;
    position: absolute;
    margin-top: 120px;
    top: 90%;
    left: 65%;
}

.nav {
    position: absolute;
    height: 30px;
    width: 100%;
    z-index: 20;
}

.graph1 {
    display: flex;
    width: 95%;
    position: relative;
    top: 30%;
    left: 1%;
    z-index: 10;
}

.rating {
    width: 30%;
    position: absolute;
    margin-top: -30px;
    top: 66%;
    left: 64%;
}

.add-info {
    transition: all 1s ease;
    position: absolute;
    top: 78%;
    left: 65%;
    z-index: 1000;
}

.add-info-panel {
  position: fixed;
  top: 75%;
  width: 350px;
  right: 0;
  transition: right 0.4s ease;
  z-index: 999;
}

.add-info-panel.show {
  top: 75%;
  right: 170px; 
}


@media (max-width: 1200px) {
    .dashboard-container h1 {
        font-size: 30px;
    }
    .dashboard-container h4 {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .dashboard-container h1 {
        opacity: 0;
    }
    .dashboard-container h4 {
        opacity: 0;
    }

    .dashboard-container svg {
        opacity: 0;
    }

    .banner1 {
        width: 100%;
        margin-left: 12%;
    }
}


