.found-item-body {
    position: relative;
    top: 7%;
    background-color: #D9D9D9;
    min-width: 100%;
    height: 120vh;
    margin-left: 80px;
}

.found-item-body h1 {
    color: #475C6F;
    position: absolute;
    top: 1%;
    font-weight: bolder;
}

.found-item-container {
    position: absolute;
    top: 8%;
    padding: 10px;
    width: 100%;
    height: 610px;
}

.searchBar input {
    position: absolute;
    width: 700px;
    border-radius: 5px;
    top: 9%;
    left: 3%;
    background-color: #D9D9D9;
    color: #475C6F;
    border: 1px solid #475C6F;
}

.searchBar svg {
    position: absolute;
    top: 9.5%;
    left: 1%;
}

.searchBar input:focus {
    border-color: #475C6F;
}

.searchBar input::placeholder{
    font-style: italic;
    padding: 2px;
}

.found-item-table1 {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8%;
    background-color: white;
    height: 570px;
    border-radius: 10px;
    
}

.found-item-table1 th {
  color: black;             
  padding: 17px 30px;       
  text-align: center;         
  font-weight: bold;       
  font-size: 12px;
  text-align: center;
}

.found-item-table1 thead {
  background-color: #9EBAD6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  width: 100%;
}

.found-item-table1 tbody {
  background-color: transparent;
  height: 50px;
  width: 100%;
}

.found-item-table1 td {
  color: black;             
  padding: 16px 20px;       
  text-align: left;            
  font-size: 12px;
  justify-items: center;
  justify-content: center;
  text-align: center; 
}



.body-row:hover {
    background-color:#c9d4e0;
}

.body-row {
    border-bottom: 1px solid black
}

.item-image {
    position: relative;
    border-radius: 40px;
    background-color: aliceblue;
    width: 40px;
    height: 40px;
}

.founder-details {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
    text-align: left;
}

.owner-details {
    text-align: left;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.personal-info {
    height: 20px;
    line-height: 1px;
}

.footer {
    position: absolute;
    top: 90%;
    left: 1%;
}

.footer button{
    color: #475C6F;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.processClaimBtn {
    top: 2%;
    left: 93%;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #475C6F;
    color: white;
    border: none;
   z-index: 1;
}

.processClaimBtn:hover {
    background-color: #3b4a5a;
}
.foundVerificationbtn:hover {
    background-color: #3b4a5a;
}

.foundVerificationbtn {
    position: absolute;
    top: 12%;
    left: 12%;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #475C6F;
    color: white;
    border: none;
}

.actions-row2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1%;
    left: 73%;
    width: 500px;
    height: 40px;
    padding: 5px;
    margin-left: -100px;
    justify-items: center;
    align-content: center;
    gap: 10px;
    color: #475C6F;
}

.actions-row2 button {
    color: #475C6F;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #475C6F;
}

.actions-row2 button:hover {
    background-color: #c9d4e0;
}

.found-item-table1 th:nth-child(1),
.found-item-table1 td:nth-child(1) {
    width: 9%;
    white-space: nowrap;
}

.found-item-table1 th:nth-child(2),
.found-item-table1 td:nth-child(2) {
    width: 8%;
    white-space: nowrap;
}

.found-item-table1 th:nth-child(3),
.found-item-table1 td:nth-child(3) {
    width: 10%;
    white-space: nowrap;
}

/* Continue for the rest of the columns */
.found-item-table1 th:nth-child(4),
.found-item-table1 td:nth-child(4) {
    width: 12%;
    white-space: nowrap;
}

.found-item-table1 th:nth-child(5),
.found-item-table1 td:nth-child(5) {
    width: 12%;
    white-space: nowrap;
}

.found-item-table1 th:nth-child(6),
.found-item-table1 td:nth-child(6) {
    width: 15%;
    white-space: nowrap;
}

.found-item-table1 th:nth-child(7),
.found-item-table1 td:nth-child(7) {
    width: 15%;
    white-space: nowrap;
}

.found-item-table1 th:nth-child(8),
.found-item-table1 td:nth-child(8) {
    width: 14%;
    white-space: nowrap;
}

@media (max-width: 1000) {
    .lost-item-container1 h1 {
        opacity: 0;
    }
}