.transaction-body {
    position: absolute;
    top: 0%;
    background-color: #D9D9D9;
    min-width: 100%;
    height: 120vh;
    margin-left: 80px;
}

.transaction-content {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 7%;
    left: 20px;
    width: 90%;
    height: 70%;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 20px;
}

.transactionScores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.transactionScores .scoreResult {
    display: flex;
    gap: 20px;
}

.itemLostTransaction, 
.itemFoundTransaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    min-width: 500px;
    min-height: 620px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.transaction-content p{
    color: black;
}

.item-transaction-details {
    display: flex;
    min-width: 100%;
    min-height: 20%;
    margin-top: 10px;
}

.item-transaction-details div{
    width: 50%;
}

.transaction-process-btn {
    position: absolute; 
    top: 85%; 
    left: 75%; 
    width: 200px; 
    height: 40px; 
    border-radius: 20px; 
    border: 2px solid #475C6F; 
    background-color: transparent; 
    color: #475C6F; 
    gap: 10px;
}

.transaction-process-btn:hover {
    background-color: #475C6F;
    color: white;
}

/* Truncate long text */
.truncate {
  display: inline-block;
  max-width: 150px;  /* adjust width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  cursor: pointer;
}

/* Floating tooltip panel */
.tooltip-panel {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  left: 20px;
  top: 100%;
  z-index: 999;
  background-color: #475C6F;
  color: white;
  padding: 8px;
  border-radius: 8px;
  white-space: normal;
  min-width: 200px;
  max-width: 400px;
}

/* Show tooltip on hover */
.hover-text:hover .tooltip-panel {
  visibility: visible;
  opacity: 1;
}

.loading-container {
  text-align: center;
  margin-top: 30px;
}

.loading-container img {
  width: 80px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
}

/* Custom modal width */
.custom-modal-width {
  max-width: 400px; /* adjust as needed */
  width: 100%;
}


