.header-body {
    position: relative;
    display: flex;
    background-color: #475C6F;
    min-width: 100%;
    height: 50px;
    align-items: center;
}

.header-body button {
    padding: 5px;
    display: flex;
    margin-left: 20px;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 5px;
    font-size: 12px;
    gap: 5px;
    justify-items: center;
    align-content: center;
    text-align: center;
    height: 30px;
}

.header-body button:hover {
    border-color: #CFE5F9;
    color: #CFE5F9;
}

.header-body button:hover {
    background-color: #7c8a97;
}

.header-right-tables {
    gap: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    margin-left: auto;
    margin-right: 150px;
}

.profile {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 40px;
    cursor: pointer;
    z-index: 400;
}

.header-right-tables p {
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 400;
}

.header-right svg {
    cursor: pointer;
}
.account-dropdown {
    opacity: 0;
    z-index: 10;
}


.account-dropdown.dropDown{
    position: absolute;
    top: 1%;
    left: 89%;
    opacity: 1;
}

.notify-panels {
    opacity: 0;
}



.notify-panels.notifyPanel{
    position: absolute;
    top: 6%;
    left: 73%;
    opacity: 1;
    z-index: 100;
}

.dropdown-profile {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    padding: 10px;
}

.count-row {
    margin-left: 20px;
    display: flex;
   align-items: center;
   text-align: center;
    gap: 10px;
}

.count-row p {
    margin-top: 10px;
}

.count-row strong {
    border: .1px solid white;
    padding: 3px;
    border-radius: 5px;
}