.feedback-body {
    background-color: white;

    position: relative;
    top: 14%;
    min-width: 15%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    height: 310px;
    padding: 20px;
}

.feedback-rows {
    border-radius: 5px;
    padding: 2px;
    background: white;
    align-items: center;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    min-width: 20%;
    gap: 20px;
    transition: all ease-in-out 0.5s;
    height: 50px;
}

.feedback-rows:hover {
    background-color: #b5b3b3;
    scale: 1.05;
    transition: all ease 0.5s;
}