.feedback-body {
    background-color: #cdcbcb;
    position: relative;
    top: 20%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    height: 215px;
    padding: 20px;
}

.feedback-rows {
    border-radius: 5px;
    padding: 2px;
    background: #c6c4c4;
    align-items: center;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    transition: all ease-in-out 0.5s;
}

.feedback-rows:hover {
    background-color: #b5b3b3;
    scale: 1.05;
    transition: all ease 0.5s;
}