.footer-body {
    width: 110%;
    margin-top: -30px;
    background-color: #384959;
    height: 200px;
    padding: 40px;
    line-height: 0;
}

.footer-body h3{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin-left: 190px;
}

.footer-body h4 {
    color: white;
    font-size: large;
    font-weight: lighter;
    margin-left: 190px;
}

.footer-body img {
    position: absolute;
    width: 120px;
}

@media (max-width: 950px) {
    .footer-body {
        height: 150px;
    }

    .footer-body h3{
        font-size: 11px;
        margin-left: 100px;
    }

    .footer-body h4 {
        font-size: 10px;
        margin-left: 100px;
    }

    .footer-body img {
        width: 70px;
    }
}