.home-body {
    position: relative;
    top: 7%;
    background-color: #D9D9D9;
    width: 100%;
    height: 1200px;
    margin-left: 80px;
}

.home-body h1 {
    color: #475C6F;
    position: absolute;
    top: -5%;
    left: 4%;
    font-weight: bolder;
}

.home-container {
    position: absolute;
    top: 8%;
    padding: 10px;
    width: 100%;
    height: 610px;
}

.banner2 {
    position: absolute;
    background-color: black;
    width: 75%;
    height: 100px;
    border-radius: 10px;
    top: 5%;
    left: 17%;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.5);
}

.banner2 img {
    opacity: .7;
    object-fit: cover;
    width: 100%;
    height: 100px;
    border-radius: 10px;
}

.banner2 strong {
    top: 10%;
    left: 90%;
    color: white;
    position: absolute;
}

.banner2 h1 {
    position: absolute;
    left: 2%;
    color: #BDDDFC;
}

.banner2 h5 {
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 2%;
    color: #BDDDFC;
}



.report-view {
    display: flex;
    position: absolute;
    top: 10%;
    width: 300px;
    height: 50px;
    align-content: center;
    align-items: center;
    gap: 10px;
    color: #475C6F;
}

.total-active-users {
    color: #475C6F;
    gap: 10px;
    display: flex;
    position: absolute;
    top: 60%;
    left: 1%;
}

.user-feedback {
    color: #475C6F;
    gap: 10px;
    display: flex;
    position: absolute;
    top: 60%;
    left: 65%;
}

.nav {
    position: absolute;
    height: 30px;
    z-index: 20;
}


.graph {
    width: 1420px;
    position: absolute;
    top: 25%;
    left: 1%;
    z-index: 10;
}



.add-info {
    transition: all 1s ease;
    position: absolute;
    top: 78%;
    left: 65%;
    z-index: 1000;
}

.add-info-panel {
  position: fixed;
  top: 75%;
  width: 350px;
  right: 0;
  transition: right 0.4s ease;
  z-index: 999;
}

.add-info-panel.show {
  top: 75%;
  right: 170px; 
}

.home-lost-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 20px;
    max-width: 100%;
    height: 420px;
    top: 20%;
    overflow-x: auto;
    overflow-y: visible;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    z-index: 0;
}

.home-found-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    gap: 20px;
    max-width: 100%;
    height: 420px;
    top: 29%;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    z-index: 0;
}

.lost-item-card {
    transition: all ease-in-out 0.5s;
    width: 300px;
    background-color: #cbcbcb;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
}

.lost-item-card h4{
    font-weight: bold;
}

.lost-item-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: inherit;
}


.own {
    display: flex;
    margin-left: 10px;
    gap: 10px;
}

.own strong{
    font-style: normal;
}

.own strong:hover {
    color: black;
}


.own p{
    text-align: left;
    color: black;
    font-style: italic;
    transition: all ease-in-out 0.5s;
}

.lost-item-card:hover {
    scale: 1.05;
    transition: all ease-in-out 0.5s;
}

.more-details-buttons {  
    position: relative;
    top: 210%;
    left: 160%;
    font-size: 12px;
    cursor: pointer;
}

.more-details-buttons p{
   color: #475C6F;
}

.more-details-buttons svg {
    color: #212121;
}

.more-details-buttons:hover {
    color: #859db5;
}

.more-details-buttons svg:hover {
    color: #859db5;
}


.card-more-details {
    position: relative;
    left: -60%;
    top: 80%;
}

.lost-item-card:hover {
    background-color: white;
}

.found-item-card:hover {
    background-color: white;
    scale: 1.05;
}

.home-lost-container::-webkit-scrollbar,
.home-found-container::-webkit-scrollbar {
    display: none;
}
.home-lost-container,
.home-found-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
}



@media (max-width: 1200px) {
    .banner2 {
        width: 90%;
        left: 1%;
    }
    .lost-item-card, .found-item-card {
        z-index: 100;
    }
    .banner2 h1 {
        font-size: 38px;
    }

    .home-lost-container {
        width: 1000px;
    }
    .home-found-container {
        width: 1000px;
    }
    
}

@media (max-width: 992px) {
    .banner2 {
        width: 85%;
        left: 1%;
    }
    .lost-item-card, .found-item-card {
        z-index: 100;
    }
    .banner2 strong {
        font-size: 12px;
    }
     .home-lost-container {
        width: 900px;
    }
     .home-found-container {
        width: 900px;
    }
}

@media (max-width: 768px) {
    .banner2 {
        width: 85%;
        left: 1%;
    }
    .lost-item-card, .found-item-card {
        z-index: 100;
    }
    .banner2 h1 {
        font-size: 28px;
        margin-top: 10px;

    }

    .banner2 strong {
        font-size: 10px;
    }

     .home-lost-container {
        width: 700px;
    }
    .home-found-container {
        width: 700px;
    }


}

@media (max-width: 576px) {
    .banner2 {
        width: 75%;
        left: 5%;
    }
    .lost-item-card, .found-item-card {
        z-index: 100;
    }
    .banner2 h1 {
        font-size: 15px;
        margin-top: 30px;

    }

    .banner2 strong {
        font-size: 10px;
        margin-left: -10px;
    }

    .banner2 h5 {
       font-size: 12px;
    }
    .home-lost-container {
        width: 500px;
    }
    .home-found-container {
        width: 500px;
    }


}