.user-lost-procedure-body {
    position: absolute;
    top: 9%;
    left: 6%;
    background-color: white;
    width: 1420px;
    height: 650px;
    z-index: 1000;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.7);
}

.user-lost-procedure-body h1 {
    font-weight: bold;
    font-size: 20px;
    font-weight: 1000;
    color: #475C6F;
}

.lost-item-form input, 
.lost-item-form label{
    margin-bottom: 15px;
    margin-left: 20px;
    width: 100px;
    color: #475C6F;
}

.lost-item-form textarea {
    background-color: transparent;
    border-radius: 10px;
    width: 1000px;
    height: 160px;
    margin-left: 20px;
    resize: none;
    border: 2px solid #475C6F;
}

.lost-item-form input {
    background-color: transparent;
    border-radius: 10px;
}

.lost-item-form input::placeholder {
    color: #475C6F;
    opacity: 50%;
}

.user-lost-procedure-body svg {
    position: absolute;
    top: 7%;
    left: 3%;
}

.user-lost-procedure-body p {
    position: absolute;
    font-size: 20px;
    top: 25%;
    left: 5%;
    color: black;
}

.user-lost-procedure-body button{
    position: absolute;
    top: 85%;
    left: 40%;
    background-color: #475C6F;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}

.user-lost-procedure-body button:hover{
    background-color: #CFE5F9;
    color: black;
}


@media (min-width: 1701px) {
    .lost-item-form input, 
    .lost-item-form label {
        width: 150px;
        height: 50px;
    }
    .lost-item-form textarea {
        width: 1100px;
    }
    
}
