.user-lost-procedure-body {
    position: absolute;
    top: 9%;
    left: 6%;
    background-color: white;
    width: 1420px;
    height: 650px;
    z-index: 10;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.7);
}



.user-lost-procedure-body h1 {
    font-weight: bold;
    font-size: 20px;
    font-weight: 1000;
    color: #475C6F;
}



.user-lost-procedure-body svg {
    position: absolute;
    top: 7%;
    left: 3%;
}

.user-lost-procedure-body p {
    position: absolute;
    font-size: 20px;
    top: 25%;
    left: 5%;
    color: black;
}

.user-lost-procedure-body button{
    position: absolute;
    top: 85%;
    left: 40%;
    background-color: #475C6F;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}

.user-lost-procedure-body button:hover{
    background-color: #CFE5F9;
    color: black;
}

@media (max-width: 1228px) {
    .user-lost-procedure-body {
        width: 1400px;
        height: 728px;
        margin-left: 80px;
    }
}

@media (min-width: 1701px) {
    .user-lost-procedure-body {
        width: 90%;
        height: 100%;
        margin-left: 0;
        padding: 20px;
    }
    .user-lost-procedure-body h1 {
        font-size: 24px;
    }
    .user-lost-procedure-body p {
        font-size: 24px;
        top: 30%;
    }
    .user-lost-procedure-body button {
        width: 250px;
        height: 50px;
        font-size: 18px;
    }
    
}
