.lost2-item-body {
    position: absolute;
    top: 7%;
    background-color: #D9D9D9;
    width: 100%;
    height: 120vh;
    margin-left: 80px;
}


.lost2-item-body h1 {
    color: #475C6F;
    position: absolute;
    top: 1%;
    font-weight: bolder;
}

.lost-item-container {
    position: absolute;
    top: 8%;
    padding: 10px;
    width: 1455px;
    height: 120vh;
}

.found-item-body h1 {
        opacity: 1;
    }

.page-lost-container {
    background-color: #D9D9D9;
    top: 10%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
    gap: 20px;
    width: 95%;
    height: 110vh;
    top: 15%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;

    scrollbar-width: none;
}

.found-item-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: inherit;
}

.searchBar input {
    position: absolute;
    width: 700px;
    border-radius: 5px;
    top: 9%;
    left: 3%;
    background-color: #D9D9D9;
    color: #475C6F;
    border: 1px solid #475C6F;
}

.searchBar svg {
    position: absolute;
    top: 9.5%;
    left: 1%;
}

.searchBar input:focus {
    border-color: #475C6F;
}

.searchBar input::placeholder{
    font-style: italic;
    padding: 2px;
}

.lost-item-table {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    background-color: white;
    width: 1400px;
    height: 570px;
    border-radius: 10px;
    
}

.lost-item-table th {
  color: black;             
  padding: 16px 30px;       
  text-align: center;         
  font-weight: bold;       
  font-size: 12px;       
}

.lost-item-table thead {
  background-color: #9EBAD6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  width: 100%;
}

.lost-item-table tbody {
  background-color: transparent;
  height: 50px;
  width: 100%;
}

.found-item-card {
    transition: all ease-in-out 0.5s;
    width: 300px;
    height: 400px;
    background-color: #cbcbcb;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
}

.lost-item-table td {
  color: black;             
  padding: 16px 20px;       
  text-align: left;            
  font-size: 12px;
  justify-items: center;
  justify-content: center;
  text-align: center;          
}


.body-row:hover {
    background-color:#c9d4e0;
}

.body-row {
    border-bottom: 1px solid black
}

.item-image {
    position: relative;
    border-radius: 40px;
    background-color: aliceblue;
    width: 40px;
    height: 40px;
}

.founder-details {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
    text-align: left;
}

.owner-details {
    text-align: left;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.personal-info {
    height: 20px;
    line-height: 1px;
}

.footer {
    position: absolute;
    top: 90%;
    left: 1%;
}

.footer button{
    color: #475C6F;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.actions-row {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 8%;
    left: 65%;
    width: 540px;
    height: 40px;
    padding: 5px;
    justify-items: center;
    align-content: center;
    gap: 10px;
    color: #475C6F;
}

.actions-row button {
    color: #475C6F;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #475C6F;
}

.actions-row button:hover {
    background-color: #c9d4e0;
}

.user-lost-searchBar {
    position: absolute;
    top: 10%;
    left: 9%;
    width: 700px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-lost-searchBar input {
    position: absolute;
    width: 700px;
    border-radius: 5px;
    top: 10%;
    left: 15%;
    background-color: #D9D9D9;
    color: #475C6F;
    border: 1px solid #475C6F;
}

.user-lost-searchBar2 svg {
    position: absolute;
    top: 11%;
    left: 10%;
}


.user-lost-searchBar2 {
    position: absolute;
    top: 10%;
    left: 9%;
    width: 700px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-lost-searchBar2 input {
    position: absolute;
    width: 700px;
    border-radius: 5px;
    top: 10%;
    left: 15%;
    background-color: #D9D9D9;
    color: #475C6F;
    border: 1px solid #475C6F;
}

.user-lost-searchBar2 svg {
    position: absolute;
    top: 11%;
    left: 10%;
}


.right-upper-panel {
    position: absolute;
    top: 10%;
    left: 90%;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-upper-panel svg {
    cursor: pointer;
} 
.user-lost-searchBar input:focus {
    border-color: #475C6F;
}

.user-lost-searchBar input::placeholder{
    font-style: italic;
    padding: 2px;
}

.category::placeholder {
    opacity: 0.5;
}

.lost-item-table th:nth-child(1),
.lost-item-table td:nth-child(1) {
    width: 9%;
}

.lost-item-table th:nth-child(2),
.lost-item-table td:nth-child(2) {
    width: 8%;
}

.lost-item-table th:nth-child(3),
.lost-item-table td:nth-child(3) {
    width: 10%;
}

/* Continue for the rest of the columns */
.lost-item-table th:nth-child(4),
.lost-item-table td:nth-child(4) {
    width: 12%;
}

.lost-item-table th:nth-child(5),
.lost-item-table td:nth-child(5) {
    width: 12%;
}

.lost-item-table th:nth-child(6),
.lost-item-table td:nth-child(6) {
    width: 15%;
}

.lost-item-table th:nth-child(7),
.lost-item-table td:nth-child(7) {
    width: 15%;
}

.lost-item-table th:nth-child(8),
.lost-item-table td:nth-child(8) {
    width: 14%;
}


.saved-items-container:hover {
    background-color: #D9D9D9;
    cursor: pointer;
    scale: 1.05;
}


.matching-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.matching-content {
  text-align: center;
  color: white;
  width: 80%;
  max-width: 400px;
}

.matching-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #BDDDFC;
}

.progress-container {
  width: 100%;
  height: 20px;
  background-color: #475C6F;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #BDDDFC; /* Your theme blue */
  width: 0%;
  transition: width 0.2s ease-in-out;
  border-radius: 10px;
}

.progress-percentage {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1920px) {
    .user-lost-searchBar {
        width: 70%;
        top: 9%;
        left: 1%;
    }
    .user-lost-searchBar input {
        width: 85%;
    }
    


    .user-lost-searchBar2 {
        width: 50%;
    }
    .user-lost-searchBar2 input {
        width: 90%;
        margin-left: 40px;
    }  

    .user-lost-searchBar2 svg {
        margin-left: 40px;
    }

    .category {
        width: 40%;
        left: 80%;
        margin-right: 40%;
    }

    

    .right-upper-panel {
       left: 85%;
       top: 9%;
    }
     .page-lost-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;

    }
}

@media (max-width: 1400px) {
    .user-lost-searchBar {
        width: 70%;
        top: 9%;
        left: 7%;
    }
    .user-lost-searchBar input {
        width:70%;
    }  

    .user-lost-searchBar2 {
        width: 50%;
    }
    .user-lost-searchBar2 input {
        width: 90%;
        margin-left: 40px;
    }  

    .user-lost-searchBar2 svg {
        margin-left: 40px;
    }

    .category {
        width: 40%;
        margin-right: 460px;
        left: 80%;
    }

    

       .right-upper-panel {
       left: 87%;
       top: 9%;
    }
     .page-lost-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;

    }
}

@media (max-width: 1020px) {
    .user-lost-searchBar {
        width: 70%;
        left: 1%;
    }
    .user-lost-searchBar input {
        width: 60%;
        margin-left: 60px;
    }  

    .user-lost-searchBar svg {
        left: 20%;
    }
    .user-lost-searchBar2 {
        width: 45%;
    }
    .user-lost-searchBar2 input {
        width: 75%;
        margin-left: 70px;
    }  

    .user-lost-searchBar2 svg {
        margin-left: 65px;
    }

    .category {
        width: 40%;
        margin-right: 120px;
        left: 60%;
    }
    .right-upper-panel {
       left: 85%;
    }
     .page-lost-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

    }
    .found-item-card {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .user-lost-searchBar {
        width: 70%;
        left: -9%;
    }
    .user-lost-searchBar input {
        width: 80%;
        margin-left: 1px;
    }  

    .user-lost-searchBar svg {
        left: 0%;
    }
    .user-lost-searchBar2 {
        width: 40%;
    }
    .user-lost-searchBar2 input {
        width: 90%;
        margin-left: -40px;
    }  

    .user-lost-searchBar2 svg {
        margin-left: -60px;
    }

    .user-lost-searchBar2 h1 {
        opacity: 0;
    }

    .category {
        width: 40%;
        margin-right: 0px;
        left: 60%;
    }
    .right-upper-panel {
       left: 80%;
    }
    .lost-item-body h1 {
        opacity: 0;
    }

    .page-lost-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

    }

    .user-lost-searchBar h1 {
        opacity: 0;
    }
}

@media (max-width: 576px) {
    .user-lost-searchBar {
        width: 50%;
        left: 2%;
    }
    .user-lost-searchBar input {
        width: 80%;
        margin-left: -30px;
    }  

    .user-lost-searchBar svg {
        left: -15%;
    }
    .category {
        width: 40%;
        margin-right: 0px;
    }
    .right-upper-panel {
       left: 75%;
    }
    .lost-item-body h1 {
        opacity: 0;
    }

    .user-lost-searchBar h1 {
        opacity: 0;
    }
     .page-lost-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;

    }

}