.user-found-procedure-body {
    position: absolute;
    top: 9%;
    left: 4%;
    background-color: white;
    width: 1420px;
    height: 650px;
    z-index: 1000;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.7);
}

.user-found-procedure-body h1 {
    font-weight: bold;
    font-size: 20px;
    font-weight: 1000;
    color: #475C6F;
}

.found-item-form input, 
.found-item-form label{
    margin-bottom: 15px;
    margin-left: 20px;
    width: 100px;
    color: #475C6F;
}

.found-item-form textarea {
    background-color: transparent;
    border-radius: 10px;
    width: 1000px;
    height: 160px;
    margin-left: 20px;
    resize: none;
    border: 2px solid #475C6F;
}

.found-item-form input {
    background-color: transparent;
    border-radius: 10px;
}

.found-item-form input::placeholder {
    color: #475C6F;
    opacity: 50%;
}

.user-found-procedure-body svg {
    position: absolute;
    top: 7%;
    left: 3%;
}

.user-found-procedure-body p {
    position: absolute;
    font-size: 20px;
    top: 25%;
    left: 5%;
    color: black;
}

.user-found-procedure-body button{
    position: absolute;
    top: 85%;
    left: 40%;
    background-color: #475C6F;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}

.user-found-procedure-body button:hover{
    background-color: #CFE5F9;
    color: black;
}

.custom-location-input:focus {
    outline: none;
    border: none;
}


