.profile-body {
    position: relative;
    top: 7%;
    background-color: #D9D9D9;
    width: 100%;
    height: 728px;
    margin-left: 80px;
}

.profile-container {
    display: flex;
    position: absolute;
    top: 10%;
    left: 1%;
    background-color: #cdcbcb;
    width: 95%;
    height: 220px;
    border-radius: 10px;
}

.profile-container img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #475C6F;
}



.profile-container .profile-picture {
    position: absolute;
    top: 80%;
    left: 1%;
}



.container-details {
    top: 100%;
    left: 15%;
    position: absolute;
    color:  #475C6F;
    margin-left: 30px;
    display: block;
    width: 1200px;
    height: inherit;
}

.container-details h2 {
    font-size: 30;
}

.container-details h1 {
    font-weight: 900;
    margin-left: 5%;
}

.profile-other-details {
    position: absolute;
    line-height: normal;
    left: 5%;
   margin-top: -140px;
}

.profile-other-details p{

    color: #475C6F;
}

.profile-other-details strong:hover{
    color: #475C6F;
}

.profile-other-details2 {
    position: absolute;
    line-height: 10px;
    left: 40%;
     margin-top: -140px;

}

.profile-other-details2 p{
    width: 700px;
    color: #475C6F;
    line-height: normal;
}

.profile-other-details2 strong:hover{
    color: #475C6F;
}

.profile-quick-action {
    position: absolute;
    top: 110%;
    left: 75%;
}

.profile-quick-action button{
    margin-top: 5px;
    margin-left: 10px;
    background-color: #475C6F;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    border: none;
}

.profile-quick-action button:hover {
    background-color: #CFE5F9;
    color: #475C6F;
}


.all-profile-details {
    position: absolute;
    top: 55%;
    left: 1%;
    border-radius: 10px;
    
    background-color: white;
    justify-content: center;
    width: 95%;
    height: 300px;
}