.notification-body {
    position: relative;
    top: 7%;
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
    margin-left: 80px;
}

.notification-container {
    position: absolute;
    background-color: #D9D9D9;
    top: 100%;
    padding: 10px;
    width: 100%;
    height: 120vh;
}

.notification-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    width: 94%;

}

.notification-card:hover {
    background-color: #ebebeb;
}

.delete-btn {
 position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: #dc3545;
  transition: 0.2s ease-in-out;
}

.delete-btn:hover {
  color: #a71d2a;
  transform: scale(1.1);
}
